<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <title>Chap Application</title>
<div class="wrapper hold-transition skin-blue layout-top-nav">
  <header class="main-header  ">
    <nav class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a href="" class="navbar-brand"><b>Chat App</b></a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <i class="fa fa-bars"></i>
          </button>
        </div>

       
       
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
           

           
           
             <ul class="nav navbar-nav">
           
            <li class="dropdown">
               
                <li>
                  <%= link_to "Sign up", singup_path %>
             
              </li>
            
            </li>
          </ul>
           
            
          
          </ul>
        </div>
      
      </div>
    
    </nav>
  </header>
  <body>
  	<table>
  <% @workspaces.each do |workspace| %>
    <tr>
      <td><%= link_to workspace.workspace_name, workspace_path(workspace) %></td>
     
  <% end %>
</table>


  </body>
</div>
</html>



