<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<%= render 'layouts/navbar' %>
          
    		<div class="row">
    			<div class="col-sm-7">
                <%= image_tag "home.jpg" %>
    			</div>
    	
                
    			<div class="col-sm-4" style="margin-top:25px;">
    				<%= render 'signup/newForm' %>
    			</div>
    		</div>
    		
    		
    
  
</body>
</html>
