<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<%= render 'layouts/navbar' %>
          
    		<div class="col-sm-12">
               <div class="row">
                <div class="col-sm-6">
                    <%= image_tag "home.jpg" %>
                </div>
                <div class="col-sm-4" style="margin-top:30px;margin-left:150px;">
                    <%= render 'signup/newForm' %>
                </div>
                </div>
              </div>
</body>
</html>
