
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
</head>
<body>
	<h3>Find Your Workspace</h3>
<div class = "main workspace-search">
	<div class = "container">
		<div class = "form-body">
			

		<p>Email</p>
		<input name = "email">
		<input type ="submit" value="search">
	</div></div></div>
</body>
</html>


<%= form_tag(workspaces_path, method: :get) do %>
	<%= email_field_tag :email, params[:email] %>
	<%= submit_tag 'Search' %>
<% end %>
